@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root{
  --red:#d01c28;
  --grey:#2e2e2e;
}

nav{
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  height: 72px;
  align-items: center;
  margin: auto;
}

nav ul{
  display: flex;
  gap: 32px;
  list-style: none;
}

nav button{
  all: unset;
  background-color: var(--red);
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 500;
}