.container{
      max-width: 1280px;
    margin: 0 auto;
}

.hero{
    display: flex;
    align-items: center;
    height: 80vh;
}


.heroContent h1{
    font-size: 100px;
    font-weight: 900;
    line-height: 6rem;
}
.heroContent p{
    font-size: 1rem;
    margin: 30px 0;
    color: var(--gray);
    font-weight: 500;
}

.hero-btn{
    display: flex;
    gap: 20px;
 
}

.hero-btn button{
       height: 2.5rem;
    width: 6.5rem;
    font-weight:500 ;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
   
}

.red-btn{
    all: unset;
    background-color: var(--red);
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.storeLogo{
    display: flex;
    gap: 1rem;
}